<launch>
<arg name="machine_name" default="localhost"/>
<node pkg="human_tasks" type="monitor.py" name="monitor_node_$(arg machine_name)" output="screen" args="$(arg machine_name)">
      <env name="ROS_MASTER_URI" value="http://$(arg machine_name):11311"/>
      <remap from="telemetry" to="/experiment_ui/telemetry"/>
      <remap from="odom" to="/robot0/odom_throttle"/>
      <remap from="heartrate" to="/band/heartrate"/>
      <remap from="progress" to="/experiment_ui/progress"/>
      
</node>
</launch>