<launch>
  <!-- Launch a mini policy for debugging -->
    <arg name="debug" value="false"/>
    
    <arg name="launch_prefix" if="$(arg debug)" default="gdb -ex run --args"/>
    <arg name="launch_prefix" unless="$(arg debug)" default=""/>

    <param name="/use_sim_time" value="false"/>
    <!-- Gazebo with Lus Chasma -->
    <include file="$(find scenario_runner)/launches/lus_chasma.launch"/>

    <!-- Throttle robot odometry updates -->
    <node pkg="topic_tools" type="throttle" name = "odom_throttle" output="screen" args="messages /robot0/odom 10.0">
    </node>
    
    <!-- Terrain server -->
    <node pkg="scenario_runner" type="terrain_server.py" name="terrain_server" output="screen">
      <param name="terrain" value="$(find scenario_runner)/resources/h0380_0001_orthoimage_sq_down.jpg"/>
    </node>
    
    <!-- UI -->
    <node pkg="human_tasks" type="fullscreen_tasks.py" name="experiment_ui" output="screen">
      <remap from="image_raw" to="/robot0/front_camera/image_raw"/>
      <remap from="odom" to="/robot0/odom_throttle"/>
      <remap from="cmd_vel" to="/robot0/cmd_vel"/>
    </node>

    <!-- Control node -->
    <node pkg="human_tasks" type="controlNode.py" name="control_node" output="screen">
      <param name="scenarios" value="$(find human_tasks)/config/scenarios.csv"/>
      <param name="robotURDFFile" value="$(find human_tasks)/config/husky_cam_laser.xacro"/>
      <param name="navTasks" value="$(find human_tasks)/config/navtasks.csv"/>
      <param name="graspTasks" value="$(find human_tasks)/config/grasptasks.csv"/>
      <param name="handlingTasks" value="$(find human_tasks)/config/handlingtasks.csv"/>
      
    </node>
    

    
</launch>
